* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #f5f5f5;
    overflow-x: hidden;
    color: #343434;
    padding-bottom: 4rem;
}


.template {
    display: none;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.2rem;
}

/* Header */

header.header {
    background-color: #121216;
    padding: 1rem .4rem;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #fefefe;
    text-decoration: none;
}


header a.logo {
    font-size: 2.4rem;
}

/* Main */

.main {
    padding: 2rem 0;
}

.main p {
    line-height: 2.4rem;
    margin-top: .4rem;
}

.main .subtitle {
    margin-top: 2.4rem;
    margin-bottom: 1.2rem;
}

/* Place */

.game {
    display: flex;
    gap: .4rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.game .place {
    flex: 1 0 16rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 1.2rem .8rem;
    scroll-snap-align: center;
}

.place h3 {
    font-weight: bold;
    font-size: 1.6rem;
}

.place label {
    display: block;
    font-size: 1.2rem;
}

.place .box:not(.place .box:last-child) {
    margin-bottom: .4rem;
}

.place select {
    height: 2.6rem;
    width: 100%;
    cursor: pointer;
    padding: .4rem;
    background-color: #ececec;
    border: 1px solid #ccc;
    font-weight: bold;
    color: #555;
    font-size: 1.2rem;
}

.place select option {
    font-size: 1.3rem;
    font-weight: bold;
    color: #333;
}


/* Colors places classes */

.place.green {
    background-color: hsl(120, 90%, 80%);
}

.place.yellow {
    background-color: hsl(60, 90%, 80%);
}

.place.blue {
    background-color: hsl(230, 90%, 80%);
}

.place.red {
    background-color: hsl(360, 90%, 75%);
}

.place.orange {
    background-color: hsl(39, 100%, 75%);
}

.place.gray {
    background-color: hsl(0, 0%, 80%);
}


ul.phrasesList {
    /* margin-top: 1rem; */
    border-radius: .4rem;
    background-color: #fff;
    padding: .8rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
    gap: .4rem;
    font-weight: 500;
    max-height: 36rem;
    overflow-y: scroll;
}

ul.phrasesList li {
    padding: .8rem 8rem .8rem .8rem;
    border-radius: .4rem;
    border: 1px solid #ccc;
    display: inline-block;
    position: relative;
    font-size: 1.4rem;
}

ul.phrasesList li::before {
    position: absolute;
    right: .4rem;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    line-height: 3rem;
    text-align: center;
    height: 3rem;
    font-weight: bolder;
    font-size: 2rem;
    border-radius: .4rem;
    aspect-ratio: 1/1;
}

ul.phrasesList li.true::before {
    content: "O";
    background-color: hsl(120, 100%, 90%);
    color: #008000;
}

ul.phrasesList li.false::before {
    content: "X";
    background-color: hsl(0, 100%, 95%);
    color: #c66;
}

@media screen and (max-width : 500px) {
    html {
        font-size: 55%;
    }
}

@media screen and (max-width : 414px) {
    html {
        font-size: 50%;
    }

    ul.phrasesList {
        max-height: 30rem;
    }

    ul.phrasesList li {
        font-size: 1.2rem;
    }

    ul.phrasesList li::before {
        font-size: 1.8rem;
    }

}